dist/asmjs/
dist/wasm/

sources/web/lib/ts/*.js
sources/web/lib/ts/*.map
sources/web/lib/ts/*.js.map
sources/web/lib/ts/*.d.ts

sources/ts_common/*.js
sources/ts_common/*.map
sources/ts_common/*.js.map
sources/ts_common/*.d.ts

sources/web/node_modules/

sources/systems/fantasy_console/c_src/*.o
sources/systems/fantasy_console/build/*

sources/v6502/*.o
sources/v6502/v6502*

sources/dasm/src/*.o
sources/dasm/test/**/*.bin
sources/dasm/test/**/*.hex
sources/dasm/test/**/*.list.txt
sources/dasm/bin
sources/dasm/dasm
sources/dasm/ftohex

sources/web_dasm/*.o
sources/web_dasm/dasm-exe.*

sources/systems/fantasy_console/node_modules

sources/systems/fantasy_console/ts/*.js
sources/systems/fantasy_console/ts/*.map
sources/systems/fantasy_console/ts/*.js.map
sources/systems/fantasy_console/ts/*.d.ts


